# Python y Django
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3 
*.db
*.log

# Entorno virtual
env/
venv/
.venv/
ENV/

# Archivos de configuración local
.env
*.env
*.local
*.swp

# Editor y sistema
.vscode/
.DS_Store
Thumbs.db
